*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
 
body{ 
  width: 100%;  
  background: linear-gradient(to left top, #7a0e9e, #edccf9);
    
}

h1 {
  font-family: 'antic';
  font-size: 4rem;
  color: #7a0e9e;
  letter-spacing: 0.8rem;
  text-align: center;
}


header{
  display: block;
  text-align: center;
  padding: 1rem;
}


/*Menu Główne*/
ul{
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #000000;
  white-space: wrap;
}

ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

ul li a{
    width: 100%;
    display: block;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
    align-items: center; 
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

ul li ul.podmenu li {
    width: 100%;
}

ul.podmenu li a {
    display: block;
    text-align: center; /* Wyśrodkowanie tekstu na osi poziomej */
    text-decoration: none;
}

ul li:hover ul.podmenu{
    display: block;
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

ul li.active a,
ul li a.active {
    background-color: #7a0e9e;
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}


/*Karuzela*/
.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  margin: -10rem 0 0 0;
  width: 80%;
  height: 70%;
  background-color: #000000;
  padding: 10rem 8rem;
  overflow: hidden;
}

.swiper {
  width: 100%;
  display: flex;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center; /* Dodanie stylu, aby elementy były wyśrodkowane w pionie */
}

.card {
  background-color: #f9fafe;
  width: 50rem;
  height: 18rem;
  border-radius: 10px;
  display: flex;
  position: relative;
  padding: 3rem 0 0 0;
  transition: transform 800ms;
  opacity: 0.5;
  margin: auto;
  margin-top: 4rem;
}
  
.avatar {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 5px solid #f9fafe;
  box-shadow: 0 0 50px #ccc;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-6em, -6rem);
  z-index: 1;
}
  
.header {
  font-family: "Hammersmith One", sans-serif;
  margin: auto;
  text-align: center;
  z-index: 1;
}
  
.name {
  font-size: 2.2rem;
  margin-top: 1rem;
}
  
.title {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
  color: #ba85cc;
}

.contact {
  font-size: 1.2rem;
  color: #7a0e9e;
  margin: 1.2rem 0 0 0;
}

.swiper-slide-active {
  z-index: 1;
}
  
.swiper-slide-active .card {
  margin-top: 5rem;
  box-shadow: 0 8px 30px -7px #c9dff0;
  opacity: 1;
  transform: scale(1.5);
}
  
.swiper {
  margin-left: auto;
  margin-right: auto;
}
  
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}
  