*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 
body{ 
     width: 100%;  
     background-color: #6A6D78; 
    
}

h1 {
    font-family: 'antic';
    font-size: 4rem;
    letter-spacing: 0.8rem;
    text-align: center;
}


header{
     display: block;
     text-align: center;
     padding: 1rem;
}


/*Menu Główne*/
ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
    white-space: wrap;
}

ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

ul li a{
    width: 100%;
    display: block;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
    align-items: center; 
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

ul li ul.podmenu li {
    width: 100%;
}

ul.podmenu li a {
    display: block;
    text-align: center; /* Wyśrodkowanie tekstu na osi poziomej */
    text-decoration: none;
}

ul li:hover ul.podmenu{
    display: block;
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

ul li.active a,
ul li a.active {
    background-color: #7a0e9e;
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}


/*Karuzela*/
.up {
    background-color: #68145c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container {
    width: 50%;
    background-color: #145268;
    padding: 10rem 8rem;
    overflow: hidden;
}

.swiper {
    width: 100%;
    display: flex;
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #f9fafe;
    width: 100rem;
    height: 15rem;
    border-radius: 10px;
    display: flex;
    flex-direction: rgb(42, 55, 110);
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0 0 0;
    transition: transform 400ms;
    opacity: 0.5;
    box-shadow: none;
}
  
  .quote-icon {
    position: absolute;
    z-index: 0;
    opacity: 0.05;
    left: 3%;
    top: 0;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 150px;
    border: 5px solid #f9fafe;
    box-shadow: 0 0 50px #ccc;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60px, -60px);
    z-index: 1;
  }
  
  .header {
    margin: 50px 0 0 0;
    text-align: center;
    z-index: 1;
  }
  
  .name {
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
  }
  
  .title {
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 0 0;
    padding: 0 5px;
    color: #7ccdc5;
  }
  
  .quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: center;
    color: #73808c;
    margin: 0;
}
  
  .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: calc(80% / 3); 
  }
  
  .swiper-slide-active {
    z-index: 1;
  }
  
  .swiper-slide-active .card {
    box-shadow: 0 8px 30px -7px #c9dff0;
    opacity: 1;
    transform: scale(1.5);
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-button-next:focus,
  .swiper-button-prev:focus {
    outline: none;
  }
  