*{
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box; 
}
 
img:hover{
     border-radius: 10px 15px; 

}

body{ 
     background-color: white;
     width: 100%;   
}

#wrapper{
     width: 70vw;
     margin: 0 auto;
     height: 100vh;
     
}

#top{
background-color: white;

}

header{
     background-color: rgb(242, 244, 255);
     display: block;
     text-align: center;
     font-size: 1.8vh;
     margin: 0 auto ;
     padding: 5%;

}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
}

ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
}

ul li ul.podmenu li {
    width: 100%; /* Set width to 100% for all list items in the submenu */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

ul li:hover ul.podmenu{
    display: block;
}

a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

.active{
     background-color: #7a0e9e; /*podświetlenie podstrony aktualnej w użyciu*/

}

main.active{
     background-color: #7a0e9e;
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}

article{
     background-color: rgb(242, 244, 255);
     display: block;
     text-align: center;
     padding: 5%;
     border-bottom: 2px solid #7a0e9e;
     
       
}











