*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}
 
body{ 
     width: 100%;  
    background-image: url(../Glowna/A0.jpg); /* Ścieżka do obrazka */
    background-size: cover; /* Dopasowanie obrazka do tła */
    background-position: center; /* Wyśrodkowanie obrazka */    
}

.wrapper{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

h1 {
    position: relative;
    font-family: 'title-bold';
    font-size: 60px;
    color: #214232;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header{
     display: block;
     text-align: center;
     font-size: 1.8vh;
}



/*Menu Główne*/

ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
}

ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
}

ul li ul.podmenu li {
    width: 100%;
    box-sizing: border-box;}

ul li:hover ul.podmenu{
    display: block;
}

a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

.active{
     background-color: #7a0e9e; /*podświetlenie podstrony aktualnej w użyciu*/

}

main.active{
     background-color: rgb(122, 14, 158);
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}

h3{
    font-size: 30px;
    font-weight: bold;
}



/*Aktualnosci*/
.blog-post {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.up {
    background-color: rgba(122, 14, 158, 0.7);
    width: 100%; /* Ustaw szerokość na 100%, aby dostosować się do kontenera nadrzędnego */
    max-width: 1000px; /* Ustaw maksymalną szerokość dla daty */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: 'news';
}

.blog-post_date span {
    color: #000000;
    font-weight: 200;
    font-family: 'news';
    font-size: 20px;
}


.banner-card {
    width: 100%; /* Ustaw szerokość na 100%, aby dostosować się do kontenera nadrzędnego */
    max-width: 1000px; /* Dostosuj maksymalną szerokość obrazka według preferencji */
    position: relative;
}

.banner-card img {
    max-width: 100%;
    height: auto;
}

.banner-text{
    position: absolute;
    top: 436px;
    color: #FFF;
    font-size: 35px;
    margin-left: 170px;
    font-family: Verdana;
    display: flex;
    animation: slideText 1s ease-in-out; /* Dodaj animację slideText */
}

@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(100%); /* Przesuń tekst poza obszar diva */
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.up h2{
    margin-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 5px;
}

.banner-text .child {
    display: none;
    overflow: hidden;
}

/* Dodajemy stylizację strzałek */

.arrow {
    background-color: rgb(122, 14, 158); 
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#scroll-left {
    position: absolute;
    left: 1px; /* Dodaj odstęp od lewej strony */
}

#scroll-right {
    position: absolute;
    right: 1px; /* Dodaj odstęp od prawej strony */
}

.banner-card {
    position: relative;
}

.banner-news,
#scroll-left,
#scroll-right {
    position: absolute;
    top: 75%;
}

.arrow-button{
    background: rgb(39, 38, 38);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.arrow-button:hover{
    box-shadow: 0px 0px 10px 10px rgb(122, 14, 158);
}

.arrow-button div{
    position: absolute;
    height: 30px;
    width: 30px;
    border-top: 4px solid #7a0e9e;
    border-left: 4px solid #7a0e9e;
    top: 15px;
}

/* Obróć lewą strzałkę o 180 stopni */
.arrow-button.left div{
    transform: rotate(315deg);
    left: 18px;
}

.arrow-button.right div{
    transform: rotate(135deg);
    right: 18px;
}




/*kontakt*/

.contact-section{
    font-family: 'kontakt';
    display: inline-block;
    background-color: rgba(178, 187, 183, 0.8); /* Zielony kolor tła */
    padding: 10px; /* Dodaj odstęp dla estetyki */
    width: 40%;
}


.container
{
    width: 100%;
    text-align: left;
}

textarea{
    height: 200px;
}

input[type="text"]{
    height:30px;
}


input, textarea
{
    width:100%;
    margin-bottom: 10px;
    border-radius: .3em;
    border: 2px solid #214232;
    box-sizing: border-box;
    resize:none;
    padding: 8px;
}


h2{
    font-size: 30px;
}

.send
{
    background-color: #009688;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 8px 20px;
    width: unset;
    cursor: pointer;
}

.send:hover{
    background-color: #214232;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left{
    color: #214232;
}

/*stopka*/

footer
{
    margin-top: 15px;
    background-color: #f0f0f0;                  /* Kolor wypelnienia tla */
    padding: 10px;                                      /* Dodatkowy odstep od tekstu do obramowania */
    text-align: center;                                 /* Wysrodkowanie tekstu w poziomie */
    letter-spacing: 8px;                           /*odstepy miedzy literami*/
    opacity: 0.7;
}


@font-face {
    font-family: 'news';
    src: url('fonts/news.ttf') format('truetype');
}

@font-face {
    font-family: 'title-bold';
    src: url('fonts/title-bold.otf') format('truetype');
}

@font-face {
    font-family: 'kontakt';
    src: url('fonts/kontakt.ttf') format('truetype');

}