*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}
 
body{ 
     width: 100%;  
    background-image: url(../Glowna/A0.jpg); /* Ścieżka do obrazka */
    background-size: cover; /* Dopasowanie obrazka do tła */
    background-position: center; /* Wyśrodkowanie obrazka */    
}

.wrapper{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

h1 {
    position: relative;
    font-family: 'title-bold';
    font-size: 60px;
    color: #214232;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header{
     display: block;
     text-align: center;
     font-size: 1.8vh;
}



/*Menu Główne*/

ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
}

ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
}

ul li ul.podmenu li {
    width: 100%;
    box-sizing: border-box;}

ul li:hover ul.podmenu{
    display: block;
}

a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

.active{
     background-color: #7a0e9e; /*podświetlenie podstrony aktualnej w użyciu*/

}

main.active{
     background-color: #7a0e9e;
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}

h3{
    font-size: 30px;
    font-weight: bold;
}

/*Aktualnosci*/
.blog-post_title {
    font-size: 35px;
    font-family: 'news';
    text-align: left;
    margin-bottom: 10px;
}

.blog-post {
    width: 75%;
    max-width: 98rem;
    margin: 6rem auto;
    padding: 2rem;
    background-color: rgba(178, 187, 183, 0.8);
    display: flex;
    border-radius: .8rem;
}

.blog-post_info {
    display: flex;
    flex-direction: column;
    font-family: 'news';
    text-align: left;
    margin: 0;
    padding: 0;
}

.blog-post_img {
    margin-right: 1rem;
    position: relative;
    overflow: hidden;
}

.blog-post_img img {
    width: 600px;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_date span {
    display: block;
    color: #7a0e9e;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.blog-post_text {
    flex: 1; /* Zajmuje dostępną przestrzeń */
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}




/*kontakt*/

.contact-section{
    font-family: 'kontakt';
    display: inline-block;
    background-color: rgba(178, 187, 183, 0.8); /* Zielony kolor tła */
    padding: 10px; /* Dodaj odstęp dla estetyki */
    width: 40%;
}


.container
{
    width: 100%;
    text-align: left;
}

textarea{
    height: 200px;
}

input[type="text"]{
    height:30px;
}


input, textarea
{
    width:100%;
    margin-bottom: 10px;
    border-radius: .3em;
    border: 2px solid #214232;
    box-sizing: border-box;
    resize:none;
    padding: 8px;
}


h2{
    font-size: 30px;
}

.send
{
    background-color: #009688;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 8px 20px;
    width: unset;
    cursor: pointer;
}

.send:hover{
    background-color: #214232;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left{
    color: #214232;
}

/*stopka*/

footer
{
    margin-top: 15px;
    background-color: #f0f0f0;                  /* Kolor wypelnienia tla */
    padding: 10px;                                      /* Dodatkowy odstep od tekstu do obramowania */
    text-align: center;                                 /* Wysrodkowanie tekstu w poziomie */
    letter-spacing: 8px;                           /*odstepy miedzy literami*/
    opacity: 0.7;
}


@font-face {
    font-family: 'news';
    src: url('fonts/news.ttf') format('truetype');
}

@font-face {
    font-family: 'title-bold';
    src: url('fonts/title-bold.otf') format('truetype');
}

@font-face {
    font-family: 'kontakt';
    src: url('fonts/kontakt.ttf') format('truetype');

}