*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{ 
    width: 100%;   
    background-color: #F1FFFC;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 99;
}

h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    color: white;
    background-clip: text;
    display: inline-block;
}


header{
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.85);
}

.content {
    position: relative;
}


/*Menu Główne*/
nav ul,
.menu_rozwijane ul{
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #000000;
  white-space: wrap;
  font-family: 'antic';
}

 ul li,
 .menu_rozwijane ul li{
  flex-grow: 1;
  display: inline-block;
  position: relative;
}

 ul li a,
 .menu_rozwijane ul li a{
  width: 100%;
  display: block;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

ul li ul.podmenu{
  position: absolute;
  display: none;
  width:100%;
  align-items: center; 
  z-index: 2;
}

 ul li ul.podmenu li {
  width: 100%;
}

ul.podmenu li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

ul li:hover ul.podmenu{
  display: block;
  z-index: 2; 
}

a:hover,a.menu:hover {
  background-color: #9962ac ; 
}

ul li.active a,
ul li a.active {
  background-color:#884E9C;
}

ul li a:hover
{
  background: #489a93;
}

.menu_rozwijane{
  cursor: pointer;
  display:none;
  position:absolute;
  top: 100%;
  overflow: hidden;
  height: 0;
  width: 100%;
  align-items: center;
  text-align: center;
  margin:auto;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 101;
}

.menu_rozwijane li{   
  cursor: pointer;
  display:flex;
  align-items: center;
  text-align: center;    
  justify-content: center;
  padding: 1rem 1rem;
  text-decoration: none;
    
}

.menu_rozwijane a{
  font-size:23px;
  text-decoration: none;
  padding: 0 25vw;
  color: white;
}

.menu_rozwijane li:hover{
  background-color:  #9962ac;
}

.menu_rozwijane.open{
  height: auto;
}

span{
  font-size: 25px;
  color: white;
}

.przycisk_menu {
  display: none;
  text-align: center;
  justify-content: center;
  cursor: pointer; 
  padding: 0.5rem 0;
}

.menu_rozwijane .active{
  background-color:#884E9C;
}

/*inne menu*/
@media (max-width: 650px) {   
nav .main_menu{
    display: none;
}
  
nav .przycisk_menu{
    display:block;
}
  
.menu_rozwijane{
    display:block;
    }
    
.przycisk_menu{
    flex:1;
    text-align: right;
    padding-right: 35px;  
}
}

/*zdjecie a0*/
.a0 {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(1, 12, 24, 0.8), rgba(4, 18, 33, 0.7)), url(../Glowna/photos/A0.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 18rem 0 0 0;
} 