/*O nas*/
.my {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about {
    text-align: center;
    font-size: 50px;
    font-family: 'bellota';
    font-weight: 600;
}




/*kontakt*/
.contact-section {
    font-family: 'antic';
    display: flex;
    justify-content: center;
    width: 550px;
    height: 450px;
    margin: 0 auto; 
}

.container
{
    width: 100%;
    text-align: left;
}

textarea{
    height: 140px;
}

input[type="text"]{
    height:48px;
}


input, textarea
{
    width:100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
    box-sizing: border-box;
    resize:none;
    padding: 8px;
}


h2{
    font-size: 30px;
}

.send
{
    background-color: rgba(122, 14, 158, 0.7);
    color: #000000 ;
    font-weight: 600;
    font-size: 18px;
    font-family: 'bellota';
    margin-left: 125px;
    border-radius: 5em;
    display: inline-block;
    padding: 5px 20px;
    width: unset;
    cursor: pointer;
}

.send:hover{
    background-color: rgba(122, 14, 158, 0.5);
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left{
    color: #000000;
}

form input::placeholder,
form textarea::placeholder {
    font-family: 'bellota';
    color: #000000;
}

form input,
form textarea {
    background-color: rgba(122, 14, 158, 0.5);
}

/*stopka*/

footer
{
    margin-top: 50px;
    background-color: #f0f0f0;                  /* Kolor wypelnienia tla */
    padding: 10px;                                      /* Dodatkowy odstep od tekstu do obramowania */
    text-align: center;                                 /* Wysrodkowanie tekstu w poziomie */
    letter-spacing: 8px;                           /*odstepy miedzy literami*/
    opacity: 0.7;
}


@font-face {
    font-family: 'news';
    src: url('fonts/news.ttf') format('truetype');
}

@font-face {
    font-family: 'title';
    src: url('fonts/title.otf') format('truetype');
}

@font-face {
    font-family: 'kontakt';
    src: url('fonts/kontakt.otf') format('truetype');
}

@font-face {
    font-family: 'bbc';
    src: url('fonts/bbc.otf') format('truetype');
}

@font-face {
    font-family: 'uczelnia';
    src: url('fonts/uczelnia.ttf') format('truetype');
}

@font-face {
    font-family: 'antic';
    src: url('fonts/antic.otf') format('truetype');
}

@font-face {
    font-family: 'bellota';
    src: url('fonts/bellota.otf') format('truetype');
}