
.top::before {
    content: "";
    background-image: url(../Glowna/photos/A0.jpg); /* Ścieżka do obrazka */
    background-size: cover; /* Dopasowanie obrazka do tła */
    background-position: center; /* Wyśrodkowanie obrazka */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7; /*przejrzystosc */
    z-index: -1;
}





/*Aktualności*/
.color {
    position: relative;
    background-color: rgba(203, 230, 248, 0.7);
    padding: 10px;
    font-family: 'news';
    max-width: 40vw;
    text-align: center;
    height: 13vw;
    margin: auto;
}

.color::before,
.color::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9.25vw;
}

.color::before {
    border-color: rgba(203, 230, 248, 0.7) transparent transparent transparent;
    right: -177px;
    top: -177px;
    transform: rotate(135deg);
    z-index: -1;
}

.color::after {
    border-color: transparent transparent rgba(203, 230, 248, 0.7) transparent;
    left: -177px;
    bottom: -177px;
    transform: rotate(135deg);
    z-index: -1;
}


.title {
    display: flex;
    flex-direction: column;
    line-height: 1.3; /*odstep miedzy wierszami*/
}


.title .text-item1 {
    color: #000;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 10px;
}

.title .text-item2,
.title .text-item2 span{
    font-size: 1rem;
    color: #3662aa;
}

.news {
    position: relative;
    color: #000;
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;
}

.cover {
    display: flex; 
}

.scroll-text {
    position: relative;
    background-color: rgba(90, 163, 222, 0.8);
    font-weight: 580;
    letter-spacing: 1px;
    width: 40vw;
    min-height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

.child {
    text-align: center;
    font-size: 22px;
    margin: 10px 0; 
    display: flex;
    animation: slideText 0.5s ease-in-out;
}

.child:first-child {
    display: block;
}

.icon {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(20%); 
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/*strzalki*/
#scroll-left,
#scroll-right {
    position: absolute;
    top: 40%;                   /* miejsce pionowo */
    font-size: 0.75rem;
}

#scroll-left {
    left: -70px;     /*od lewej krawędzi */
}

#scroll-right {
    right: -70px; /*od prawej krawędzi */
}

.icon i {
    font-size: 3.5rem;
    color: #5aa3de; 
}

.icon:hover i {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #3662aa;
}


/*kropki*/
.dots-container {
    display: flex;
    margin-top: 15px; 
    justify-content: center;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #5aa3de;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.dot.active {
    background-color: #0e3066;
}




/*przycisk FAQ*/
.More {
    padding: 20px 20px;
    text-align: center;
    width: 12vw;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'news';
    background-color: rgba(90, 163, 222, 0.85);
    margin: auto;
    margin-top: 70px;
    text-wrap: nowrap;
}

.More:hover{
    transform: scale(1.15);
    background-color: rgba(54, 98, 170, 0.8);
}




/*FAQ*/
.middle {
    margin-top: 200px; 
    margin-bottom: 50px;   
}

.questions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50rem;
    font-family: 'antic';
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Działa jak flex-grow: 1 */
}

.FAQ {
    color: #000;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
}

.left img {
  width: 20vw;
  height: 20vw;
  position: relative;
  order: 1;
}

.right {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.right .tab {
    position: relative;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 15px rgba(0,0,0, 0.2);*/
    background-color: #6DADA8;
    width: 30vw;
    padding: 0 10px 10px;
    overflow: hidden;
    margin: 5px;

}

.right .tab input {
    display: none;
}

.right .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}

.right .tab:hover label::after {
    color: #000;
}

.right .tab input:checked ~ label::after {
    transform: rotate(135deg);
    color: #fff;
}

.right .tab label h2 {
    width: 2vw;
    height: 2vw;
    background-color: rgb(44, 131, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}

.right .tab input:checked ~ label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    color: rgba(255,255,255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}

.right .tab label h3 {
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    color: #000;
    bottom: 25px;
    z-index: 10;
}

.right .tab .content1 {
    max-height: 0;
    transition: max-height 0.7s ease; 
    overflow: hidden;
}


.right .tab input:checked ~ .content1 {
    max-height: 100vh;
    transition: max-height 0.7s ease; 
}

.right .tab .content1 p {
    position: relative;
    padding: 10px 0;
    color: #000;
    z-index: 10;
}






/*Uczelnia*/
.box::before {
    margin: auto;
    content: "";
    position: absolute;
    width: 100vw;
    height: 29vw;
    background-image: url(../Glowna/photos/miasteczko.jpg);
    background-size: cover;
    opacity: 0.55;
    z-index: -1; /* Umieść tło pod innymi elementami */
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative; 
    height: 550px;
}

.intro {
    position: absolute;
    top: 30px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #034742;
}

.square {
    width: 15vw;
    height: 15vw;
    background-color: #46CEC0;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s;
    position: relative;
    margin: 2vw;
}

.square:hover {
    box-shadow: 20px 20px 20px rgba(33, 66, 50, 0.9);
     z-index: 2; 
}

.image-container {
    flex: 1; 
}

img {
    width: 100%;
    height: 115%;
    margin: 0;
    transition: transform 0.3s;
}

.square:hover img{
    transform: scale(1.3);
    z-index: 2;
}
.square:hover h3 {
    transform: scale(1.2);
    z-index: 2;
    color: #7a0e9e;
    margin-top: 40px;
}
.square:hover .link {
    color: #7a0e9e;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: transform 0.3s;
    white-space: nowrap;
    color:#215853;
    padding: 20px;
    margin-top: 20px;
}

.link {
    background-color: #3a857e;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    color:rgb(2, 92, 83);
    font-size: 2rem;
    font-family: 'uczelnia';
}

.link:hover{
    color: #7a0e9e;
}
