
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 
.top{
    position: fixed;
    margin:  0 0 0 20px;
    width: 100%;
    z-index: 100;
}

body{ 
     width: 100%;   
     background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    
}


h1 {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    font-family: 'antic';
    font-size: 4rem;
    letter-spacing: 1rem;
    -webkit-background-clip: text;
    color: white;
     background-clip: text;
}
    


header{
    
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
     padding: 1rem;
     background-color: rgba(0, 0, 0, 0.85);
     width: 100%;
     
}

.content {
    position: relative;
}


/* ------------------------- menu główne ---------------------- */

.fixed_menu{
    width:100%;
}


nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
    white-space: wrap;
}

nav ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

nav ul li a{
    width: 100%;
    display: block;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

nav ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
    align-items: center; 
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

nav ul li ul.podmenu li {
    width: 100%;
}

nav ul.podmenu li a {
    display: block;
    text-align: center; /* Wyśrodkowanie tekstu na osi poziomej */
    text-decoration: none;
}

nav ul li:hover ul.podmenu{
    display: block;
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

nav a:hover,a.menu:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
}

nav ul li.active a,
nav ul li a.active {
    background-color: #7a0e9e;
}

nav ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #009688;
}


/* ----------------------------- bottom ---------------------------------*/


/*------------------------------ slide ---------------------------------*/

#bottom{
    display: flex;
    flex-direction: column;
    margin:10em 0;
}

.termin_1,
.termin_2,
.termin_3,
.Teoria_sygnałów_dyskretnych,
.Bazy_danych{
    display: flex;
    flex:1;
    padding: 3em 7em 0 7em;
    flex-direction: column;
}

.termin_1 .button,
.termin_2 .button,
.termin_3 .button,
.Teoria_sygnałów_dyskretnych .button,
.Bazy_danych .button {
    order: -1; /* Umieszcza guzik na górze flexboxa */
}
.button_sort{
    padding-top:8em;
}

.termin_3,
.Bazy_danych{
    padding-bottom: 8em;
}


.termin_1 p,
.termin_2 p,
.termin_3 p,
.Bazy_danych p,
.Teoria_sygnałów_dyskretnych p{
    padding-top: 2.5em;
}

/* ---------------------------------  stopka -----------------------------------------------*/

footer
{
   margin-top: 2vh;
    background-color: #f0f0f0;                  /* Kolor wypelnienia tla */
   padding: 10px;                                      /* Dodatkowy odstep od tekstu do obramowania */
   text-align: center;                                 /* Wysrodkowanie tekstu w poziomie */
   letter-spacing: 8px;                           /*odstepy miedzy literami*/
   opacity: 0.7;
}


/* ---------- przesunięcie ----------------------- */

#note {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
   /* border-top: 4px solid #786080; */
}
/*
.button
{
    border-bottom: 4px solid #786080;
}
*/
button{
    padding: 10px 20px;
    background-color: #ad84ba;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}  
