*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}



.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #f0f0f0;  
}



h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    /*background: url(../Glowna/photos/A0.jpg) repeat;   w tle tekstu zdjecie, Karolina kazala zmienic
    -webkit-background-clip: text;*/
    color: white;
    background-clip: text;
    display: inline-block;
}


header{
     display: block;
     text-align: center;

    
}

.content {
    position: relative;
}


/*Menu Główne*/
nav ul,
.menu_rozwijane ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000000;
    white-space: wrap;
    font-family: 'antic';
}

 ul li,
 .menu_rozwijane ul li{
    flex-grow: 1;
    display: inline-block;
    position: relative;
}

 ul li a,
 .menu_rozwijane ul li a{
    width: 100%;
    display: block;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

ul li ul.podmenu{
    position: absolute;
    display: none;
    width:100%;
    align-items: center; 
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

 ul li ul.podmenu li {
    width: 100%;
}

ul.podmenu li a {
    display: block;
    text-align: center; /* Wyśrodkowanie tekstu na osi poziomej */
    text-decoration: none;
}

ul li:hover ul.podmenu{
    display: block;
    z-index: 2; /* Ustaw wyższy indeks warstwy */
}

a:hover,a.menu:hover {
     background-color: #9962ac ;  /*podświetlenie przy najechaniu na element */
}

ul li.active a,
ul li a.active {
    background-color:#884E9C;
}

ul li a:hover /*podswietlanie linkow w podmenu*/
{
    background: #489a93;
}



/* menu do planów*/
.duzy_ekran{
    color: white;
    display: none ;
}







.menu_rozwijane{
    cursor: pointer;

    display:none;
    position:absolute;
    top: 100%; /* Ustawienie odległości od góry */
    overflow: hidden;

    height: 0;
    width: 100%;
    
    align-items: center;
    text-align: center;

    margin:auto;

    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;

    background-color: rgba(0, 0, 0, 0.9);
   
    z-index: 2000000;
}



.menu_rozwijane li{   
    cursor: pointer;

    display:flex;

    align-items: center;
    text-align: center;    
    justify-content: center;

    padding: 23px 0;
    
    text-decoration: none;
    
}

.menu_rozwijane a{
    font-size:23px;
    text-decoration: none;
    padding: 0 25vw;
    color: white;
}


.menu_rozwijane li:hover{
    background-color:  #9962ac;
}



.menu_rozwijane.open{
   
    height: auto;
}

span{
    font-size: 25px;
    color: white;
}

.przycisk_menu {
    display: none; /* Domyślnie ukryj przycisk */

    text-align: center;
    justify-content: center;

    cursor: pointer; 

    padding: 0.5rem 0;
    

}

.menu_rozwijane .active{
    background-color:#884E9C;
}

/* RESPONSYWNOŚĆ */


@media only screen and (min-width: 350px) and (max-width: 480px) 
{
    /*Menu*/

    nav{
        background-color: #000000;
    }

    
    h1 {
        font-size: 1.5rem;
        letter-spacing: 0.1em;
    }

    ul li a {
        padding: 3px 6px;
        font-size: 0.5rem;
    }

    ul li ul.podmenu {
        width: 100%;
    }

    ul li ul.podmenu a {
        font-size: 0.4rem;
    }

    ul.podmenu li a {
        padding: 15px 0;
    }
}



@media only screen and (min-width: 481px) and (max-width: 768px) 
{
    /*Menu*/
    h1 {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
    }

    ul li a {
        padding: 0.8rem 0.5rem;
        font-size: 0.8rem;
    }

    ul li ul.podmenu {
        width: 100%;
    }

    ul li ul.podmenu a {
        font-size: 0.6rem;
    }

    ul.podmenu li a {
        padding: 20px 0;
    }
    
}


@media only screen and (min-width: 769px) and (max-width: 1340px) 
{
    /*Menu*/
    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.1em;
    }

    ul li a {
        padding: 10px 12px;
        font-size: 1rem;
    }

    ul li ul.podmenu {
        width: 100%;
    }

    ul li ul.podmenu a {
        font-size: 0.8rem;
    }

    ul.podmenu li a {
        padding: 15px 0;
    }

}





@media (max-width: 650px) {
    
    nav .main_menu
  {
        display: none;
    }

    nav .przycisk_menu{
        display:block;
    }

    .menu_rozwijane{
     
        display:block;
    }

    
    .przycisk_menu{
        flex:1;
        text-align: right;
        padding-right: 35px;
        
    }


}




