*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{ 
     height: 100vh;
    width: 100%;  
    background-image: url(../Glowna/A0.jpg); /* Ścieżka do obrazka */
    background-size: cover; /* Dopasowanie obrazka do tła */
    background-position: center; /* Wyśrodkowanie obrazka */    
}


.wrapper{
     height: 100vh;
     padding: 5vh 5vh 5vh 5vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    
}

.top{
     padding-bottom: 5vh;
}

.bottom{
     padding-bottom: 5vh
}

h1 {
     position: relative;
     font-family: 'Copperplate Gothic Light';
     font-size: 60px;
     color: #214232;
     text-align: center;
     padding: 20px;
     margin: 0;
 }


header{
     
     display: block;
     text-align: center;
     font-size: 1.8vh;
    padding: 0 0 5vh 0;

}

/* main menu */

nav ul{
     display: flex;
     align-items: center;
     list-style: none;
     background-color: #000000;
}
 
nav ul li{
     flex-grow: 1;
     display: inline-block;
     position: relative;
}
 
nav ul li a{
     display: block;
     padding: 20px 25px;
     font-size: 18px;
     color: #FFF;
     text-decoration: none;
     text-align: center;
}
 
nav ul li ul.podmenu{
     position: absolute;
     display: none;
     width:100%;
 }
 
nav ul li ul.podmenu li {
     width: 100%;
     box-sizing: border-box;}
 
nav ul li:hover ul.podmenu{
     display: block;
 }
 
nav a:hover,a.menu:hover{
      background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
 }
 
nav .active{
      background-color: #7a0e9e; /*podświetlenie podstrony aktualnej w użyciu*/
 
 }
 
 nav main.active{
      background-color: #7a0e9e;
 }
 
 nav ul li a:hover /*podswietlanie linkow w podmenu*/
 {
     background: #009688;
 }
 
 h3{
     font-size: 30px;
     font-weight: bold;
     padding-bottom: 15vh;
 }

/*
article{
     background-color: rgb(242, 244, 255);
     display: block;
     text-align: center;
     padding: 2%;
     border-bottom: 2px solid #7a0e9e;
     
       
}*/

.bottom{
     
     box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,0.05);  
     background-color: rgba(255, 255, 255, 0.9);
}

table{
    
     padding: 2% 0;
     width: 100%; 
     min-height: auto;
     background-color: rgba(255, 255, 255, 0.7);
}

td.left{
     border-right: 2px solid #7a0e9e ;
     
     width: 30%;
     text-align: center;
	 font-size: 1.8 vh;

}
     

/* side menu */

.side_menu  li {
     list-style: none;
     text-decoration: none;
    
     padding: 7px 40px 7px 40px;
}

.side_menu  li:hover {
     list-style: none;
     text-decoration: none;
     transition: border-radius 1s ease, padding-left 1s ease,  padding-right 1s ease ;
    
}


.side_menu  li a{
     display: block;
     text-decoration: none;
     padding: 5px;
     background-color: black;
     color: white;
     border-radius: 10px;
}

.side_menu li a:hover{
     background-color: #9E69AF ;  /*podświetlenie przy najechaniu na element */
     padding-left: 40px; /* Zwiększenie odstępu po najechaniu */
     padding-right: 40px;
     border-radius: 100px;
     transition: border-radius 1.5s ease, padding-left 1.5s ease,  padding-right 1.5s ease ;
    
}

.side_menu .active{
     background-color: #7a0e9e; /*podświetlenie podstrony aktualnej w użyciu*/

}

.side_menu main.active{
     background-color: #7a0e9e;
}

/*--------------------------------------------*/
td.right{
    
     width: 70%;
     text-align: center;
}

td a.rap{
	text-decoration: none;
	color: rgb(0, 0, 0);
}
#stopkag{
     display: block;
     
}

/*stopka*/

footer
{
   margin-top: 2vh;
    background-color: #f0f0f0;                  /* Kolor wypelnienia tla */
    padding: 10px;                                      /* Dodatkowy odstep od tekstu do obramowania */
    text-align: center;                                 /* Wysrodkowanie tekstu w poziomie */
    letter-spacing: 8px;                           /*odstepy miedzy literami*/
    opacity: 0.7;
}





/* zdjecia */

/* wiadomość o tygodniu */
.container
{
    
    bottom: 10px;
    right: 10px;
    color: rgb(70, 64, 64);
    background-color: white;
    
    text-align: center;
   /* opacity: 20%;*/
    border-radius: 10px;
}

.read_me
{
    position: absolute;
    bottom: 40%;
    right: 22%;
    color: rgb(0, 0, 0);
    background-color: rgba(217, 180, 235, 0.8);
    padding: 15px;
    text-align: right;
    border-radius: 10px;
    
}

.read_me:hover
{
     opacity: 0;
     transition: opacity 1.5s ease
}


.img
{
    position: relative;
    text-align: center;
    
    transition: transform 0.3s, z-index 0.3s;
    overflow: hidden; /* Ukrycie tresci, ktora wychodzi poza ramki */
    /*opacity: 0.2;*/
    rotate: center;
   
    
}


.box 
{
      display:inline-flex;
      
      
        
}

.zoomed 
{
     transform: scale(2.2); /* Powiększenie zdjęcia przy najechaniu */
     transition-duration: 1s;
     position: absolute;
     top: 30%;
     left: 40%;
     z-index: 1;    
     opacity: 1;
}

.zoomed .read_me, .zoomed .container
{
     opacity: 0;
}



.container:hover /*dla podpisow po najechaniu*/
{
    opacity: 1; /*pelna widocznosc */
}



/*guzik*/

.button-wrapper {
     text-align: center;
     margin-top: 20px; /* Dodaj odstęp między zdjęciami a guzikiem */
 }

 button {
     padding: 10px 30px;
     background-color: #7a0e9e;
     color: white;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 16px;
     text-align: center;
     cursor: pointer;
     transition: background-color 0.3s ease, padding-left 0.5s ease,  padding-right 0.5s ease, font-size 0.5s ease ;
     position: relative; /* Dodane */
 }
 
 button:hover {
     padding-left: 40px; /* Zwiększenie odstępu po najechaniu */
     padding-right: 40px;
     background-color: #9E69AF;
     font-size: 14px;
     
 }
 